<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
<head>
{% include head.html %}
{% include analytics.html %}
</head>
<body>
<header class="main-header">
{% include header.html %}
</header>
<main{% if site.rtl_languages contains site.active_lang %} class="rtl"{% endif %}>
{{ content }}
</main>
<footer class="main-footer">
{% include footer.html %}
</footer>
<script src="{{ "/js/fontawesome.min.js" | relative_url }}"></script>
<script src="{{ "/js/fa-light.min.js" | relative_url }}"></script>
<script src="{{ "/js/fa-solid.min.js" | relative_url }}"></script>
<script src="{{ "/js/fa-brands.min.js" | relative_url }}"></script>
<script src="{{ "/js/script.js" | relative_url }}"></script>
</body>
</html>